.home {
  &__div {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;

    &__button,
    &__text {
      display: flex;
      align-items: center;
      height: 50%;
    }
  }
  &__button {
  }
  &__text {
  }
}
