<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="home__div" id="container">
    <div class="home__div__button">
      <ion-button id="button" class="home__button" (click)="this.onClickHandle()">{{this.visible?'Hide':'Show'}}</ion-button>
    </div >
    <div class="home__div__text" *ngIf="this.visible">
      <ion-label id="text" class="home__text">Showing text</ion-label>
    </div>
  </div>
</ion-content>
